<h2>ЁЯУШ цЬАцЦ░уБошиШф║Л</h2>
<ul>
  <% @recent_posts.each do |post| %>
    <li>
      <a href="<%= post_path(post) %>"><%= post.title %></a> - <%= post.created_at.to_date %>
    </li>
  <% end %>
</ul>

<h2>ЁЯЫая╕П цЬАш┐СуБдуБПуБгуБЯуВВуБо</h2>
<ul>
  <% @recent_projects.each do |project| %>
    <li>
      <a href="<%= project_path(project) %>"><%= project.title %></a>
    </li>
  <% end %>
</ul>
